.block{
  height: 1400px;
  width: 100%;
  background-image: url("roll.png"), linear-gradient(rgb(109, 12, 99), #fff ); 
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.block-universal{
  height: 1400px;
  width: 100%;
  padding: 30px;
  background: url("roll.png") 50% 50% no-repeat, linear-gradient(rgb(109, 12, 99), #fff ); 
}

