.block{
  height: 50%;
  width: 50%;
  padding: 30px;
  background: linear-gradient(rgb(109, 12, 99), #fff ) ;
}

.block__child{
  height: 100%;
  width: 100%;
  background-image: url("roll.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.block-universal{
  height: 50%;
  width: 50%;
  padding: 30px;
  background: linear-gradient(rgb(109, 12, 99), #fff ); 
}

.block-universal__child{
  height: 100%;
  width: 100%;
  background: center / contain no-repeat url("roll.png");
} 